{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{% if vue_frontend_base_path %}
    {{ vue_frontend_base_path }}/reset-password?uidb64={{uid}}&token={{token}}
{% else %}
    {{ protocol }}://{{ site_name }}/reset-password?uidb64={{uid}}&token={{token}}
{% endif %}
{% endblock %}
{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% trans "Thanks for using SEIRCast. We will get through this together." %}

{% blocktrans %}The SEIRCast team{% endblocktrans %}

{% endautoescape %}