# https://cookiecutter-django.readthedocs.io/en/latest/developing-locally-docker.html#
# Local development of Django.
version: '3'
# 3 name volumes are named here.
volumes:
    volume_postgresdata:        # Store the postgres database data. Only linked with postgres.
    volume_django_media:        # Store the Django media files. Volume is shared between djangoweb and nginx.
    volume_django_static:       # Store the Django static files. Volume is shared between djangoweb and nginx.
    volume_model:
    volume_django_hash_input:
    volume_django_hash_output:
services:
    # Test send/receive email. 
    mailhog:
        image: mailhog/mailhog
        restart: unless-stopped
        ports:
            - "127.0.0.1:8025:8025"
        networks:
            - frontend
    # Postgresql database settings.
    postgresdb:
        image: postgres:9.6-alpine
        environment:
            - POSTGRES_DB
            - POSTGRES_USER
            - POSTGRES_PASSWORD
        restart: unless-stopped
        volumes:
            - volume_postgresdata:/var/lib/postgresql/data
        ports:
            - "127.0.0.1:5432:5432"
        networks:
            - backend
    # Django settings.
    djangoweb:
        build:
            context: .
            args:
                - DJANGO_ENVIRONMENT=${DJANGO_ENVIRONMENT:-production}
        image: djangoapp:latest
        networks:
            - backend
            - frontend
        volumes:
            - .:/app/
            - volume_django_static:/var/staticfiles
            - volume_django_media:/var/mediafiles
            - volume_django_hash_input:/app/hash_files/input/
            - volume_django_hash_output:/app/hash_files/output/
        ports: # IMPORTANT: Make sure to use 127.0.0.1 to keep it local. Otherwise, this will be broadcast to the web.
            - 127.0.0.1:8000:8000
        depends_on:
            - postgresdb
            - mailhog
        environment:
            - POSTGRES_DB
            - POSTGRES_USER
            - POSTGRES_PASSWORD
            - POSTGRES_HOST=postgresdb # Name of the postgresql service.
            - POSTGRES_PORT
            - DJANGO_SETTINGS_MODULE
            - FORCE_SCRIPT_NAME
            - DJANGO_ENVIRONMENT
            - SECRET_KEY
            - DJANGO_ALLOWED_HOSTS
            - DJANGO_EMAIL_HOST=mailhog
            - DJANGO_EMAIL_PORT=1025
            - DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
            - ADMIN_USERNAME
            - ADMIN_EMAIL
            - ADMIN_PASSWORD
            - ADMIN_RESET
            - MODEL_API_BASE_URL
            - AWS_SECRET_ACCESS_KEY_ID
            - AWS_ACCESS_KEY_ID
            - AWS_STORAGE_BUCKET_NAME
            - AWS_REGION_NAME
            - DJANGO_API_DEFAULT_SIM_LENGTH
            - AZURE_URI
            - AZURE_FUNCTION_KEY
        links:
            - "postgresdb"
    model:
        image: zazu.crc.nd.edu/covid/models:latest
        restart: unless-stopped
        networks:
            - backend
            - frontend
        volumes:
            - volume_model
        ports:
            - "127.0.0.1:5000:5000"
networks:
    frontend:
    backend: